$navbar-height: 4rem;

.app-container {
    min-width: 768px;
}

.pos-navbar {
    min-height: $navbar-height;
    background-color: $primary;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);

    .dropdown-item {
        font-size: 0.93em;
        padding: 0.4rem 1.2rem;
        color: $gray-base;
        i {
            color: lighten($gray-base, 30%);
        }
    }
}

@media (min-width: 992px) {
    .pos-navbar.navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .7rem;
        padding-left: .7rem;
    }
}

.btn {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;
}

.pos-main {
    min-height: calc(100vh - #{$navbar-height})
}
